
/* Style the header with a grey background and some padding */
.header {
  position: absolute;
  width: 1440px;
  height: 68px;
  /* left: 0px; */
  top: 24px;
  
  background: rgba(0, 0, 0, 0.69);
  display: inline-flex;
  justify-content: space-around; 
  margin: auto;

}
  
  /* Style the header links */
   .header a {
    background-color: rgba(0, 0, 0, 0.69);
    text-align: center;
    text-decoration: none; 
    font-size: 18px; 
    line-height: 18.75px;
    border-radius: 5px; 
    margin: auto;
    top: 425px;
  } 

  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  } 
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: rgba(0, 0, 0, 0.69);
    color: black;
  } 
  
  /* Style the active/current link*/
  .header a.active {
    background-color:rgba(0, 0, 0, 0.69);
    color: rgb(253, 251, 251);
  } 
  
  /* Float the link section to the right */
  .header-right {
    margin: auto;
    top: 25px;
    margin: 8px;
  } 

  
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
  @media screen and (max-width: 500px) {
    .header a {
      display: block;
      text-align: left;
    }
    /* .header-right {
      
    } */
  }

  .mission{
    /* width: 100vh;
    height: 100vh; */
    object-fit: fill;
    background-image: url('../assets/bkg_1 1.png');
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: fill;
    color: white;
    overflow: hidden;
}

  /* .hero_container{
    width: 100%;
    height: 100%;
    max-width: 1200px;
     margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}   */

/* .hero_container .info h1{
    font-size: 51px;
    margin-top: 41rem;
    align-items: center;
    justify-content: center;
    display: flex;
} */

/* .hero_container .info h2{
    font-size: 79px;
    margin-bottom: 1rem;
} */

/* .elevator_button{
    text-align: center;
} */


/* .mission{
  /* position: absolute; */
/* width: 100vh;
height: 100vh;
left: 0px;
top: 0px;
justify-content: center;
background: url(bkg_1.jpg);
} */ 

.step{
display: flex;
/* margin: */
/* top: 960px; */
justify-content: space-around;
position: relative;
/* Sublight Engines/Gray */

background: #383838;
}


